DATABASE_URL=mongodb://localhost:27017/db_name
JWT_SECRET=
JWT_EXPIRATION_TIME=3600 # 1 jam dalam detik
REFRESH_TOKEN_SECRET=
REFRESH_TOKEN_EXPIRATION_TIME=604800 # 7 hari dalam detik (7 * 24 * 60 * 60)
